/*/Assets/_Legacy
/*/Assets/__Legacy
/*/Library
/*/Logs
/*/obj
/*/Packages
/*/ProjectSettings
/*/Temp
/*/Build

/_Legacy

/*/Assets/Plugins/
/*/Assets/Game/Art
/*/Assets/Game/Meshes

.DS_Store
.vscode
*.meta

/*/UIElementsSchema
/*/Assembly-CSharp.csproj
/*/Assembly-CSharp-Editor-firstpass.csproj
/*/Assembly-CSharp-Editor.csproj
/*/Assembly-CSharp-firstpass.csproj
Prototype.sln
